.Node,
.Edge {
  padding: 4px 0px 2px 0px;
  background-color: #888;
  border: solid #777 1px;
  border-radius: 12px;
  display: flex;
  user-select: none;
  flex-direction: column;
  align-items: stretch;
}

.Node select,
.Edge select {
  text-align: right;
}

.Node-buffer {
  background-color: #9e9;
}

.Node-render {
  background-color: #eaa;
}

.Node-render input[type='number'] {
  width: 5em;
  text-align: right;
}

.Node-compute {
  background-color: #ccf;
}

.Node-compute .DispatchSize {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Node-compute .DispatchSize input[type='number'] {
  width: 5em;
  text-align: right;
}

.Node-texture {
  background-color: #ea4;
}

.Node > .Title {
  width: 100%;
  padding: 3px 0 3px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.Node .RemoveButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 20px;
}

.Node > .Content {
  border-radius: 3px;
  background-color: #ffffffa0;
  text-align: right;
  margin: 4px;
}

.Node .EditableLabel {
  max-width: 8em;
  text-align: right;
}

.Edge .RemoveButton {
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 20px;
}

.Edge-buffer-binding {
  display: flex;
  flex-direction: column;
  background-color: #999;
  align-items: stretch;
  width: 100%;
}

.Edge-buffer-binding .RemoveButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.Edge-queue-dependency {
  background: none;
  border: none;
}

.Edge div {
  font-size: 12px;
}

.Edge .Row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
}

.Edge input[type='number'] {
  font-size: 12px;
  width: 3em;
  box-sizing: border-box;
}

.Handle {
  width: 8px;
  height: 8px;
}

.Handle.react-flow__handle {
  width: 10px;
  height: 10px;
}

.Handle.Binding.react-flow__handle {
  background: yellow;
}

.Handle.Queue.react-flow__handle {
  background: magenta;
}

.Handle.react-flow__handle-connecting {
  background: #f66 !important;
}

.Handle.react-flow__handle-valid {
  background: #5d9 !important;
}

.Node-texture input[type='file'] {
  margin-top: 8px;
  width: 256px;
}

.Node-texture .TextureDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Node-texture .Preview {
  width: 256px;
  height: 256px;
  border: solid 2px black;
  margin: 8px;
}
