.Node,
.Edge {
  padding: 4px 0px 2px 0px;
  background-color: #888;
  border: solid #777 1px;
  border-radius: 12px;
  display: flex;
  user-select: none;
  flex-direction: column;
  align-items: stretch;
}

.Node select,
.Edge select {
  text-align: right;
}

.Node-buffer {
  background-color: #9c9;
}

.Node-render {
  background-color: #c99;
}

.Node-render input[type='number'] {
  width: 5em;
  text-align: right;
}

.Node-compute {
  background-color: #cce;
}

.Node-compute .DispatchSize {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Node-compute .DispatchSize input[type='number'] {
  width: 5em;
  text-align: right;
}

.Node-texture {
  background-color: #da6;
}

.Node-sampler {
  background-color: #dd9;
}

.Node > .Title {
  width: 100%;
  height: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin: -2px 0 0 6px;
  padding: 0;
}

.RemoveButton {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 9px;
  height: 9px;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: bold;
  text-shadow: #444 1px 1px;
  color: #600;
  padding: 0;
  line-height: 6px;
}

.RemoveButton::after {
  content: '×';
  margin: -5px 0 0 -1px;
}

.Node > .Content {
  border-radius: 3px;
  background-color: #ffffffa0;
  text-align: right;
  margin: 4px;
  padding: 2px 2px 4px 2px;
  font-size: 12px;
}

.Node .EditableLabel {
  max-width: 8em;
  text-align: right;
}

.Edge-queue-dependency {
  background: none;
  border: none;
}

.Edge div {
  font-size: 12px;
}

.Edge .Row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
}

.Edge input[type='number'] {
  font-size: 12px;
  width: 3em;
  box-sizing: border-box;
}

.Handle {
  width: 8px;
  height: 8px;
}

.Handle.react-flow__handle {
  width: 10px;
  height: 10px;
}

.Handle.Binding.react-flow__handle {
  background: yellow;
}

.Handle.Queue.react-flow__handle {
  background: magenta;
}

.Handle.react-flow__handle-connecting {
  background: #f66 !important;
}

.Handle.react-flow__handle-valid {
  background: #5d9 !important;
}

.Handle.BindingStub.react-flow__handle {
  width: 4px;
  height: 4px;
  background: #444;
}

.Node-texture input[type='file'] {
  margin-top: 8px;
  width: 256px;
}

.Node-texture .TextureDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Node-texture .Preview {
  width: 256px;
  height: 256px;
  border: solid 2px black;
  margin: 8px;
}

.Node-connection {
  width: 120px;
  height: 64px;
}

.Node-connection input[type='number'] {
  width: 3em;
  margin-left: 1em;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.Node-connection select {
  margin: 0 0 4px 0;
  max-width: 114px;
}

.Node-connection.BufferBinding {
  width: 120px;
  height: 87px;
}
