.Node {
  padding: 4px 0px 2px 0px;
  background-color: #888;
  border: solid #777 1px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Node select {
  text-align: right;
}

.Node-buffer {
  background-color: #9e9;
}

.Node-render {
  background-color: #eaa;
}

.Node-compute {
  background-color: #ccf;
}

.Node-texture {
  background-color: #ee9;
}

.Node > .Title {
  width: 100%;
  padding: 3px 0 3px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.Node .RemoveButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 20px;
}

.Node > .Content {
  border-radius: 3px;
  background-color: #ffffffa0;
  text-align: right;
  margin: 4px;
}

.Node .EditableLabel {
  max-width: 8em;
  text-align: right;
}
