.EditableLabel {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline;
  background: none;
}

.EditableLabel.NotEditing {
  border: solid transparent 1px;
  outline: none;
  cursor: default;
}

.EditableLabel .Empty {
  color: #999;
}

.EditableLabel.Editing {
  border: solid black 1px;
  background: white;
  outline: none;
}
